# Ignore bundler config
/.bundle

# Ignore developer-specific database config.
/config/database.yml

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Dragonfly images get generated here.
/public/system

# Ignore API key and settings file.
# Keep it secret. Keep it safe.
/config/secrets.yml