# --------------------------------------------------
# Example SQLite Configuration

development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

# --------------------------------------------------
# Example Postgres Configuration

development:
  adapter: postgresql
  database: my_db
  username: my_user
  password:
  pool: 5
  timeout: 5000
  min_messages: warning

test:
  adapter: postgresql
  database: my_db
  username: my_user
  password:
  pool: 5
  timeout: 5000
  min_messages: warning